<perfect-scrollbar style="max-width: 600px; max-height: 238px">


  <div title="History">
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>
    <p>
      <b>Missa </b>25<br>
      University of Tampere<br>
      12km
    </p>

  </div>

</perfect-scrollbar>