<perfect-scrollbar id="list" style="max-width: 600px; max-height: 300px; padding-right: 15px;">


  <div title="Recomendations">
    <div *ngFor="let profile of listOfProfiles" draggable="true" (dragstart)="drag($event,profile)" class="listStyle target">

      <div class="row">
        <div class="col-8">
          <b>{{profile.name}} </b>{{profile.age}}<br>
          {{profile.distance_mi}} miles away
          <small  *ngIf="profile.schools[0].id!=='000'"> {{profile.schools[0].name}} </small>


        </div>
        <div class="col-3">

          <img [src]='profile.photos[0].processedFiles[2].url' class="avatar" />
        </div>
      </div>


      <!-- <div class="row">
       

 
      </div> -->


    </div>



  </div>

</perfect-scrollbar>