<perfect-scrollbar id="list" [ngClass]="{'blank-recs':!listOfProfiles.length}"
  style="max-width: 600px; max-height: 300px; padding-right: 15px;">



  <div title="Recomendations">


    <div *ngFor="let profile of listOfProfiles" (click)="selectOnClick(profile)" draggable="true"
      (dragstart)="drag($event,profile)" class="listStyle target">

      <div class="row">
        <div class="col-8">
          <b>{{profile.name}} </b>{{profile.age}}<br>
          {{profile.distance_mi}} miles away<br>
          <small *ngIf="profile.schools[0].id!=='000'"> {{profile.schools[0].name}} </small>


        </div>
        <div class="col-3">

          <img [src]='profile.photos[0].processedFiles[2].url' class="avatar" />
        </div>
      </div>




    </div>



  </div>

</perfect-scrollbar>