<div class="row justify-content-md-center dragArea" draggable="false" >
 
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row" style="border-radius:20px;" [style.border]="dropState ? '3px dotted white ':''  ">

            <!-- <div [style.background-image]="'img1'" class="card w3-card-4   w3-hover-grayscale">
            </div> -->
            <h1 class="drop"  [style.opacity]="dropState ? '1':'0'  " >Drop Here</h1>
                <ngu-carousel  style="width:100%; height: 250px;" [style.opacity]="dropState ? '0.2':'1'  " #myCarousel [inputs]="carouselTileConfig"
                    [dataSource]="carouselTileItems$ ">



                    <ngu-tile *nguCarouselDef="let item; let i = index; let ani = animate"   (dragenter)="dragenter($event)" (dragleave)="dragleave($event)"
                        (dragover)="allowDrop($event)" (drop)="drop($event)"    >
 
                        <div class="tile" [style.background]="'url('+item+')'" >
                            <!-- <h1  >Drop Here</h1> -->

                        </div>
                    </ngu-tile>

                    <button NguCarouselNext style="z-index:99999" [style.opacity]="myCarousel.isLast ? 0.5:1" (click)="alert('hello clicked')" class="rightRs">></button>
                    <button NguCarouselPrev style="z-index:99999"  [style.opacity]="myCarousel.isFirst ? 0.5:1" class="leftRs"><</button>
 

                    <ul class="myPoint" NguCarouselPoint>
                        <li *ngFor="let i of myCarousel.pointNumbers; let i = index"
                            [class.active]="i==myCarousel.activePoint" (click)="myCarousel.moveTo(i)"></li>
                    </ul>
                </ngu-carousel>
            
        </div>
        <div class="row">
            <div style="margin-top:25px; margin-bottom:10px;" class="   bottom-bar">

                <div class="btn-group w3-card-4" role="group">
                    <button (click)="like()" type="button" class="btn btn1 btn-light btn-outline-warning">Pass</button>
                    <button (click)="pass()" type="button" class="btn btn3 btn-light btn-outline-danger">Like</button>
                </div>


            </div>
        </div>

    </div>

    <div class="col-2"></div>

</div>