/* You can add global styles to this file, and also import other style files */
// @import url('https://www.w3schools.com/w3css/4/w3.css');

.background-gradient{
 background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(350deg, #FF4B2B, #df4781 );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(350deg, #FF4B2B, #df4781 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// background: linear-gradient(219deg, #df4781 17%, #ff7d40 80%);
// max-width: 650px;
// max-height: 400px;
width: 650px;
// height: 400px;

// margin: 0%;
}
 .gradient{
     padding: 5px;
 }

 .swalZ{
     z-index: 120000;
 }

 .swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
  }