/* You can add global styles to this file, and also import other style files */
// @import url('https://www.w3schools.com/w3css/4/w3.css');
 
.gradient {
  padding: 5px;
}

.swalZ {
  z-index: 120000;
}

.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}

.body-propertise {
  min-width: 720px;
  min-height: 467px;
  background: -webkit-linear-gradient(350deg, #ff4b2b, #df4781); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    350deg,
    #ff4b2b,
    #df4781
  ); 
}
